@import "tailwindcss";


/* dashboard layout */
@media (min-width: 2400px) {
  .largeScreen {
    max-width: 1600px;
    width: 100%;
  }
}

/* fonts */
h1 {
  font-weight: 900;
  font-family: var(--font-Metropolis), sans-serif;
}

h2 {
  font-weight: 800;
  font-family: var(--font-Metropolis), sans-serif;
}
span {
  font-family: var(--font-Metropolis), sans-serif;
}

h3 {
  font-weight: 700;
  letter-spacing: -2%;
  font-family: var(--font-Metropolis), sans-serif;
}

h4 {
  font-weight: 600;
  font-family: var(--font-Metropolis), sans-serif;
}

h5 {
  font-weight: 500;
  font-family: var(--font-Metropolis), sans-serif;
}

h6 {
  line-height: 32px;
  font-weight: 400;
  color: #375370;
  font-family: var(--font-Metropolis), sans-serif;
}

p {
  font-weight: 400;
  font-family: var(--font-Metropolis), sans-serif;
}
